body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 5px;      
    font-size: 20px;
    color: #111;
}
.container {
    padding: 80px 120px;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.thumbnail p:nth-child(3) {
    font-size: 12px;
}

 .row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex:before, 
.row.display-flex:after {
    display: none;  
}
/*Оптимізація*/
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Прибирає весь текст з карусель коли екран менше ніж 600 пікселів */
  }
  .container {
    padding: 5% 5%;
  }
}
@media (max-width: 768px) {
  .carousel-caption p {
    display: none; /*  Прибирає весь текст з карусель коли екран менше ніж 768 пікселів */
  }
}
