
body{
    background-image: linear-gradient(to right, rgb(131, 58, 180) , rgb(253, 29, 29), rgb(252, 176, 69));
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 300%;
    text-shadow: 5px 5px black;
}
a{
    color: white;
    font-size: 150%;
    text-shadow: 3px 3px black;
}
img{
    width: 100%;
    height: 565px;
    border-radius: 50px;
}