body{
    background-image: linear-gradient(to left, rgb(183, 0, 255) , rgb(8, 119, 246));
}
.main{
    text-align: center;
    color: white;
    font-size: 160%;    
    text-shadow: 2px 2px black;
}
a{
    color: white;
}
.img2{
    box-shadow: 3px 3px 6px 15px rgb(255, 115, 0);
    margin-top: 4%;
    margin-left: 4%;
    border-radius: 50%;
}