body{
    background-image: linear-gradient(to left, rgb(183, 0, 255) , rgb(8, 119, 246));
}
.main{
    color: white;
    font-size: 160%;
    margin-left: 8%;
    text-shadow: 2px 2px black;
}
a{
    color: white;
}
.img1{
    border-radius: 7%;
    box-shadow: 3px 3px 6px 15px gold;
    float: right;
    margin-right: 10%;
}
.clearfix{
    clear: both;
}
.img2{
    border-radius: 100%;
    margin-left: 4%;
    margin-top: 1%;
    box-shadow: 3px 3px 6px 15px rgb(255, 0, 136);
}