/* 1. Для всього документу встановіть наступний шрифт: назва serif, розмір 14px, міжрядковий інтервал 1.25, колір #777  */
body {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
}

/* 2. Для всіх вкладених списків встановіть курсивний жирний шрифт */
ul ul {
    font-style: italic;
    font-weight: bold;
}

/* 3. Встановіть на всі заголовки шрифт 'Cormorant Infant', міжлітерний інтервал 0.5px, чорний колір і кожне слово з великої букви */
h1, h2 {
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 0.5px;
    color: black;
    text-transform: capitalize;
}

/* 4. Збільшість заголовки першого рівня до 32px */
h1 {
    font-size: 32px;
}

/* 5. Заголовки другого рівня зробіть 26px */
h2 {
    font-size: 26px;
}

/* 6. Для другого абзацу за класом встановіть подвійний міжрядковий інтервал */
.double-line {
    line-height: 2;
}

/* 7. Додайте клас mail-box до div і задайте наступні йому властивості */
.mail-box {
    width: 150px;
    background-color: #E3FFF6;
    border: 5px solid #C2E4C2;
    padding: 5px 20px;
    box-sizing: border-box;
}

/* 8. Заставте блок стати вказаною довжиною - 150 пікселів */
.ruler {
    width: 150px;
    text-align: center;
    background-color: lime;
}

/* 9. Заставте текст пошти ламатись */
.mail-box a {
    word-wrap: break-word;
}

/* 10. Емейл починатись з нового рядку */
.mail-box a {
    display: block;
}

/* 11. Усі абзаци вирівняйте по ширині */
p {
    text-align: justify;
}

/* 12. Списку наших переваг встановіть стилі */
.our-adv {
    background-image: url('http://picsum.photos/id/357/700/400?blur=5');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
    font-size: 16px;
}

/* 14. Задайте усім заголовкам другого рівня верхній зовнішній відступ у 60 пікселів, нижній - у 0 пікселів */
h2 {
    margin-top: 60px;
    margin-bottom: 0;
}
